<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>About Us</title>
    
 
  </head>

  <body>
    <form action="{{ url_for('predict')}}" method="post"></form>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1 style="color: black">The Irony Detector</h1>
					
			</div>
		</div>
	</div>
<br>


<div class="container3" style="width: 800px; height: 200px">
			<form class="form-search" style="text-align:center;">	

<p>This system provides information about whether the irony that we use verbally at every moment of our life is used in written text or how much irony it contains. The irony is above all a symbolic language. The words in the produced language undergo a semantic change. The fact that the word is not used in real terms takes irony into the use of a symbolic language and puts it into a figurative saying.</p>
	</div>
</div>								    


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container3">
  <h2>The Irony Detector Developers</h2>            
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Anıl</td>
        <td>Turan</td>
        <td>1600001694</td>
      </tr>
      <tr>
        <td>Büşra</td>
        <td>Kocaçınar</td>
        <td>1600003900</td>
      </tr>
      <tr>
        <td>Görkem</td>
        <td>Belli</td>
        <td>1600001457</td>
      </tr>
        <tr>
        <td>Recep Can</td>
        <td>Dinçer</td>
        <td>1501025005</td>
      </tr>
    </tbody>
  </table>
</div>


</body>
</html>
  
