<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Sample Sentences</title>


  </head>

  <body>
    <form action="{{ url_for('predict')}}" method="post"></form>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <br><br>

<div id="pricing" class="container-fluid">
<table class="table table-bordered table-striped " >
    <caption style="text-align:left; color:black; font-weight:bold;"><h2>Try Detector With Dataset Sentence</h2></caption>
    <thead style="background-color:#eb9316;">
        <th> Sample Sentence</th>
        <th>Type</th>
    </thead>
    <tbody>
      <tr>
        <td>I can't wait until @potus starts a twitter war against Morning Joe.</td>
        <td>Irony</td>
      </tr>
      <tr>
        <td>Can't watch it and get into heaven son, that's stealing.</td>
        <td>Irony</td>
      </tr>
      <tr>
        <td>People don't learn anything about getting away with crimes while they're in prison, do they?</td>
        <td>Irony</td>
      </tr>
      <tr>
        <td>Dude have you not heard of the Lions legend Armbrisster?</td>
        <td>Irony</td>
      </tr>
      <tr>
        <td>But it's her turn, plus it's a woman President!</td>
        <td>Irony</td>
      </tr>
      <tr>
        <td>This would be perfect.</td>
        <td>Not Irony</td>
      </tr>
      <tr>
        <td>I could use one of those tools.</td>
        <td>Not Irony</td>
      </tr>
      <tr>
        <td>I recommend uninstalling the old drivers before you install the new ones as well.</td>
        <td>Not Irony</td>
      </tr>
      <tr>
        <td>Maybe not control, but certainly that is evidence of collusion.</td>
        <td>Not Irony</td>
      </tr>
      <tr>
        <td>Roger is such a good owner.</td>
        <td>Not Irony</td>
      </tr>

    </tbody>
  </table>
</div>


</body>
</html>
